.blocodetalhes{
    flex-wrap: wrap;
    display: flex;
    width: 1000px;
    height: 745px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 61px;
    margin-left: 30px;
    gap: 30px;
    padding: 30px;
    align-items: center;
    justify-content: center;


}

.bolinha {
    background-color: #033CA1;
    opacity: 30%;
    width: 580px;
    height: 490px;
    border-radius: 50%;
    z-index: 1;
    

    
}
#b1{
    position: absolute;
    top: 30px;
    left: 30px;
}
#b2{
    position: absolute;
    top: 200px;
    left: 400px;
}
.titulo{
    margin: 20px 0 40px 60px;
    display: flex;
}
.quadradotexto{
    width: 45%;
    height: 45%;
    border-radius: 23px 23px 0 23px;
    z-index: 3;
    background-image: linear-gradient(to right, #033497, #0568D6);
    padding: 20px 20px;
    color: #FFFFFF;
}

.blocoMembros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}