*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.telaLogin{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%; 
    margin: auto auto;
    border: 2px solid #a8a8a8a7;
    position: relative;
    background-image: linear-gradient(to right, #033497, #0568D6);
    overflow: hidden;
}

.ladoAzul {
    display: flex;
    width: 65%;
    height: 100vh;
    padding: 10%;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.ladoBranco {
    align-items: center;
    min-width: 35%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
}